<footer class="footer text-center">
    <div class="container py-4">
      <p class="mb-2">Siga-nos nas redes sociais:</p>
      <div class="social-icons mb-3">
        <a href="https://www.facebook.com/portalfab" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://twitter.com/portalfab" target="_blank" aria-label="Twitter" class="mx-3">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/portalfab/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
      <p>
        <a href="{% url 'feedback' %}" class="feedback-link">Deixe seu feedback</a>
      </p>
      <p>© 2024 Força Aérea Brasileira. Todos os direitos reservados.</p>
    </div>
</footer>